## Train example format ##
dataFormat = (temp,income,gender,status,grade,label)
temp: continuous
income: discrete(low,high)
gender: discrete(male,female)
status: discrete(employed,unemployed)
grade: discrete(A,B,C,D,E,F)
label: discrete(appropriate,inappropriate) # the `@' sign denotes the dependent variable

## Further suggestions ##
# regression / classification 
# export / import 
# exported decision tree format 
# double mode 
