# Config for synthetic dataset for incremental regression tree learning 
dataFormat: (hourOfDay, dayOfMonth, month, stateName, ptid, load)
hourOfDay: numeric
dayOfMonth: numeric
month: numeric
stateName: discrete(CAPITL, CENTRL, DUNWOD, GENESE, HUD_VL, MHK_VL, MILLWD, NORTH, WEST, N.Y.C., LONGIL)
ptid: numeric
load: discrete(very_low, low, normal, high, very_high)