# Config for synthetic dataset for incremental regression tree learning 
dataFormat: (timeOfDay, dayOfWeek, month, stateName, ptid, load)
timeOfDay: discrete(morning, noon, night)
dayOfWeek: discrete(mon, tue, wed, thu, fri, sat, sun)
month: discrete(jan, feb, mar, apr, may, jun, jul, aug, sep, oct, nov, dec)
stateName: discrete(CAPITL, CENTRL, DUNWOD, GENESE, HUD_VL, MHK_VL, MILLWD, NORTH, WEST, N.Y.C., LONGIL)
ptid: discrete(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
load: discrete(very_low, low, normal, high, very_high)